*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
main{
  text-align: center;
}
.none{
  display: none;
}
.block{
  display: block;
}


.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h{
  background-color: rgb(219, 160, 13);
  padding: 15px 50px;
  border-radius: 8px;
  margin-top: 20px;
}

.header h1{
  font-size: 2.4rem;
}
.chances-cont{
  gap: 5px;
  padding: 20px;
  display: flex;
}
.letras{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
 gap: 7px;
  
}

.letra-Comp{
  display: flex;
  justify-content: center;
  border: none;
  width: 40px;
  background-color: rgb(202, 123, 27);
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease;
  color: aliceblue;
  
}
.letra-Comp:hover{
  cursor: pointer;
  background-color: rgb(231, 169, 89);
}
.letra-Comp:disabled{
  display: flex;
  justify-content: center;
  border: none;
  width: 40px;
  background-color: rgb(135, 108, 77);
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease;
  color: aliceblue;
  cursor: not-allowed;
}

.letraOk{
  display: flex;
  justify-content: center;
  border: none;
  width: 40px;
  background-color: rgb(14, 174, 54);
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease;
  color: aliceblue;
}
.word{
  display: flex;
  gap: 6px;
  padding: 20px;
  justify-content: center;
}

.letters-word{
  width: 68px;
  height: 85px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(208, 208, 208);
  border-bottom: 4px solid rgb(59, 59, 59);
  font-size: 2rem;
}

.container-letras{
  font-weight: 700;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.chances{
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: solid 1px darkslategrey;
 
}
.newGame{
  padding: 10px 25px;
  margin-top: 10px;
  background-color: rgb(14, 134, 227);
  border: none;
  border-radius: 5px;
  color: aliceblue;
  transition: 0.3s;
  font-weight: 500;
}
.newGame:hover{
  cursor: pointer;
  background-color: rgb(46, 153, 235);
}
.chances p{
  color: brown;
  font-weight: 900;
}
.red{
  color: rgb(232, 23, 23);
}
.animation{
  animation: fadeInScale 0.5s ease forwards;
}

.showletter{
  animation: showLetter 0.5s ease forwards;
}

.gameWon{
  background-color: rgb(31, 158, 48);
  width: 400px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.3rem;
  color: aliceblue;
  padding: 20px 0px 20px 0px;
  animation: showLetter 0.5s ease forwards;
}
.gameLost{
  background-color: rgb(171, 36, 33);
  width: 400px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.3rem;
  color: aliceblue;
  padding: 20px 0px 20px 0px;
  animation: showLetter 0.5s ease forwards;
}

.gameStatus{
  display: flex;
  justify-content: center;

}

.dark{
  background-color: rgb(55, 55, 55);
  height: 100vh;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showLetter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}